*.sql linguist-detectable=true
*.sql linguist-language=SQL

*.jsx linguist-detectable=true
*.jsx linguist-language=React.js

*.test.js linguist-detectable=true
*.test.js linguist-language=Test

*.spec.js linguist-detectable=true
*.spec.js linguist-language=Test
